.jumbotron {
    background-image: url(../images/header-sm.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    margin-top: -20px;
}

.section-title{
    font-family: 'hulkfont';
    color: black;
}

.comic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .comic-card{
        min-width: $comic-card-basic-wd;
        width: $comic-card-basic-wd;
        cursor: pointer;
        border-color: #d2d2d2;
        box-shadow: 0 1px 0 #cfcfcf;
        border-radius: 3px;
        background-color: $white-color;
        padding: 10px;
        margin-bottom: 10px;
        transition: all .5s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        &.ng-enter {
            transition: 1.5s;
            opacity: 0;
        }
        &.ng-enter-active {
            opacity: 1;
        }
        .comic-name {
            width: calc($comic-card-basic-wd - 20px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            line-height: unset;
        }
    }
}

.pagination-area {
    text-align: center;
    & .pagination li a {
        color: $dark-color;
    }
    & .pagination .active a {
        color: $white-color;
        background-color: $dark-color;
        border-color: $dark-color;
    }
}

@media (min-width: $screen-xs-min) {
    .jumbotron {
        background-image: url(../images/header-md.jpg);
        height: 350px;
    }
    .comic-list{
        .comic-card {
            width: $comic-card-second-wd;
            .comic-name{
                width: calc($comic-card-second-wd - 20px);
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .comic-list{
        .comic-card {
            width: $comic-card-basic-wd;
            .comic-name{
                width: calc($comic-card-basic-wd - 20px);
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .jumbotron {
        background-image: url(../images/header-lg.jpg);
        height: 450px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}